@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #A9D3E9;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #E8E8E8;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}

.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} 

header h1 {
  text-align: center;
}

.charHeader {
  margin-bottom: -20px;
}

.charPara {
  margin-bottom: -20px;
}

.links {
  margin-top: 5%;
  margin-bottom: 5%;
}

.links a {
  margin-top: 3%;
  padding: 3%;
  background: #A9D3E9;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.links a:hover {
  color: #A9D3E9;
  background: white;
}

.search-form {
  text-align: center;
}